a[id="EndView"],
        a[id="ActView"],
        a[id="PLView"],
        a[id="EQView"] {
            font-family: "Taviraj", serif;
            font-size: 15px;
            color: #365D98;
            -moz-appearance: none;
            -webkit-appearance: none;
            -ms-appearance: none;
            appearance: none;
            -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            -ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
            border-radius: 4px;
            border: 0;
            cursor: pointer;
            display: inline-block;
            font-weight: 400;
            height: 2.35rem;
            line-height: 2.45rem;
            padding: 0 1.5rem;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            text-transform: uppercase;
            border: 1px solid #DDDDDD;
            background-color: #DDDDDD;
        }